@model dynamic
@{ Layout = null; }
<link href="~/Content/Error/Error.css" rel="stylesheet" />



<div class="noise"></div>
<div class="overlay"></div>
<div class="terminal">
    <h1>Error <span class="errorcode">@ViewBag.StatusCode</span></h1>
    <p class="output">@ViewBag.Message</p>
    <p class="output">Ôi! Có lỗi gì đó xảy ra rồi <a href="~/homePage/Home_page">quay lại trang chủ</a>.</p>
</div>  