@model LapTrinhWebBanHang.Models.User

@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="form-container sign-up-container">
    <form action="#">
        <h1>Create Account</h1>
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <input type="password" placeholder="ConfirmPassword" />
        <button>Sign Up</button>
    </form>
</div>