
@model LapTrinhWebBanHang.Models.User
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<div class="main">
    <div class="container row" id="container">
        <div class="form-container send-email-container col-md-6">
            <form asp-controller="Account" asp-action="SendEmails" method="post">
                <h6>Gửi Email</h6>
                <p>Vui lòng điền thông tin để gửi email.</p>

                <span>Email người nhận</span>
                <input type="email" placeholder="KhoaCho@123gmail.com" name="recipientEmail" id="recipientEmail" required />



                @if (!ViewData.ModelState.IsValid)
                {
                    <div style="color: red;">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <p>@error.ErrorMessage</p>
                        }
                    </div>
                }

                <div class="container-btn">
                    <button class="btn-send-email"><i class="fa-solid fa-paper-plane"></i> Xác nhận </button>
                    @Html.ActionLink("Quay lại", "Sign_in", "Account", new { @class = "support" })
                </div>
            </form>
        </div>
    </div>
</div>
