
@model LapTrinhWebBanHang.Models.User
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Account/ForgetPassword.css"/>
<div class="container">
    <form asp-controller="Account" asp-action="SendEmails" method="post">
        <div class="container-logo">
            <img src="~/Image/thumbnail/logo-MU.jpg" />
            <p>HANGMUSPORT</p>
        </div>
        <h6>Quên mật khẩu ?</h6>
        <p>Điền email gắn với tài khoản của bạn để nhận mã thay đổi</p>
        <span>Email</span>
        <input type="email" placeholder="KhoaCho@123gmail.com" name="recipientEmail" id="recipientEmail" required />
        @if (!ViewData.ModelState.IsValid)
        {
            <div style="color: red;">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                {
                    <p>@error.ErrorMessage</p>
                }
            </div>
        }
        <div class="container-btn">
            <button class="btn-send-email"><i class="fa-solid fa-paper-plane"></i> Xác nhận </button>
            @Html.ActionLink("Quay lại", "Sign_in", "Account", new { @class = "support" })
        </div>
    </form>
</div>
