@model LapTrinhWebBanHang.Models.User
@{
    ViewBag.Title = "Đặt Lại Mật Khẩu";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Account/ResetPassword.css" />
<div class="container">
    <form asp-controller="Account" asp-action="ResetPassword" method="post">
        <h6> Đặt lại mật khẩu</h6>
        <p> Vui lòng nhập mật khẩu mới của bạn.</p>
        <span> Mật khẩu mới</span>
        <input type="password" placeholder="New password" name="newPassword" id="newPassword" required />
        <span> Xác nhận mật khẩu mới</span>
        <input type="password" placeholder="Confirm new password" name="confirmPassword" id="confirmPassword" required />

        @if (!ViewData.ModelState.IsValid)
        {
            <div style="color: red;">
                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))

                {
                    <p>@error.ErrorMessage</p>
                }

            </div>
        }

        <div class="container-btn">
            <button class="btn-reset-password"> <i class="fa-solid fa-key"> </i> Đặt lại mật khẩu </button>
            @Html.ActionLink("Quay lại", "ForgetPassword", "Account", new { @class = "support" })
        </div>
    </form>
</div>
