@model LapTrinhWebBanHang.Models.User
@{
    ViewBag.Title = "Sign_in";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sign_in</title>
    <link href="~/Content/Sign_in and register/Sign_in.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="main">
        <div class="container row" id="container">
            <div class="form-container sign-in-container col-md-6">
                <form action="#" method="post">
                    <h6>Đăng nhập</h6>
                    <p>Nếu đã có tài khoản vui lòng đăng nhập</p>
                    <span>Email</span>
                    <input type="email" placeholder="KhoaCho@123gmail.com" name="user" id="user" required />
                    <span>Mật khẩu</span>
                    <input type="password" placeholder="Password" name="password" id="password" required />
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div style="color: red;">
                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                <p>@error.ErrorMessage</p>
                            }
                        </div>
                    }
                    <p class="obligatory-text">* Yêu cầu bắt buộc</p>
                    <div class="container-btn">
                        <button class="btn-sign-in"><i class="fa-solid fa-unlock-keyhole"></i> Đăng nhập</button>
                        <a class="support" href="#">Quên mật khẩu ?</a>
                    </div>
                </form>
            </div>

            <div class="new-customer col-md-6">
                <span>KHÁCH HÀNG MỚI</span>
                <p>Bằng cách tạo một tài khoản với cửa hàng của chúng tôi , bạn sẽ có thể thực hiện những quy trình mua hàng nhanh hơn , lưu trữ nhiều địa chỉ gửi hàng , xem và theo dõi đơn đặt hàng của bạn trong tài khoản của bạn và nhiều hơn nữa .</p>
                <button onclick="this.querySelector('a').click()" class="btn-sign-up"><i class="fa-solid fa-user-plus"></i> @Html.ActionLink("Đăng ký", "Register")</button>
            </div>
        </div>
    </div>


    <script src="~/Scripts/home_page/RegisterAndSignIn.js"></script>
</body>
</html>

