
@{
    ViewBag.Title = "CagtegoryPage";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/Category_page/container_category.css" />

<div class="container-content">
    <div class="slide">
        <img src="https://bizweb.dktcdn.net/100/108/842/collections/giay-bong-da-dinh-thap-tf.jpg?v=1499702390127" alt="" />
    </div>
    <div class="link-option">
        <span>Giày bóng đá sân cỏ nhân tạo</span>
        <hr />
    </div>
    <div class="content">
        <div class="content-left">
            <div class="container-left">
                <div class="product-size">
                    <h4>Kích thước</h4>
                    <div class="list-size style-list">
                        <li class="style-everyList"><a href="">35</a></li>
                        <li class="style-everyList"><a href="">36</a></li>
                        <li class="style-everyList"><a href="">37</a></li>
                        <li class="style-everyList"><a href="">38</a></li>
                        <li class="style-everyList"><a href="">39</a></li>
                        <li class="style-everyList"><a href="">40</a></li>
                        <li class="style-everyList"><a href="">41</a></li>
                        <li class="style-everyList"><a href="">42</a></li>
                        <li class="style-everyList"><a href="">43</a></li>
                        <li class="style-everyList"><a href="">44</a></li>
                    </div>
                </div>
                <div class="product-type">
                    <h4>Chủng loại</h4>
                    <div class="list-type style-list">
                        <li class="style-everyList"><a href="">Đinh TF</a></li>
                    </div>
                </div>
                <div class="product-brands">
                    <h4>Thương hiệu</h4>
                    <div class="list-brands style-list">
                        <li class="style-everyList"><a href="">NIKE</a></li>
                        <li class="style-everyList"><a href="">ADIDAS</a></li>
                        <li class="style-everyList"><a href="">PUMA</a></li>
                    </div>
                </div>
                <div class="product-price">
                    <h4>Mức giá</h4>
                    <div class="list-price style-list">
                        <li class="style-everyList"><a href="">Dưới 500K</a></li>
                        <li class="style-everyList"><a href="">500k - 1M</a></li>
                        <li class="style-everyList"><a href="">1M - 2M</a></li>
                        <li class="style-everyList"><a href="">Trên 2M</a></li>
                    </div>
                </div>
                <div class="product-color">
                    <h4>Màu sắc</h4>
                    <div class="list-color style-list">
                        <li class="style-everyList" style="background-color: black; padding: 18px; cursor: pointer;"><a href=""></a></li>
                        <li class="style-everyList" style="background-color: white; padding: 18px; cursor: pointer;"><a href=""></a></li>
                        <li class="style-everyList" style="background-color: pink; padding: 18px; cursor: pointer; "><a href=""></a></li>
                        <li class="style-everyList" style="background-color: red; padding: 18px; cursor: pointer; "><a href=""></a></li>
                        <li class="style-everyList" style="background-color: green; padding: 18px; cursor: pointer; "><a href=""></a></li>
                        <li class="style-everyList" style="background-color: orange; padding: 18px; cursor: pointer; "><a href=""></a></li>
                        <li class="style-everyList" style="background-color: rgb(23, 192, 214); padding: 18px; cursor: pointer; "><a href=""></a></li>
                        <li class="style-everyList" style="background-color: gray; padding: 18px; cursor: pointer; "><a href=""></a></li>
                    </div>
                </div>
                <div class="product-height">
                    <h4>Loại cổ</h4>
                    <div class="list-height style-list">
                        <li class="style-everyList"><a href="">Cổ cao</a></li>
                        <li class="style-everyList"><a href="">Cổ thấp</a></li>
                    </div>
                </div>
                <div class="product-detail">
                    <h4>Loại dây buộc</h4>
                    <div class="list-detail style-list">
                        <li class="style-everyList"><a href="">Dây truyền thống</a></li>
                        <li class="style-everyList"><a href="">Giấu dây</a></li>
                        <li class="style-everyList"><a href="">Không dây</a></li>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-right">
            <h3 style="text-align: center;">Có ... sản phẩm</h3>
            <div class="arrange">
                <select name="arrange" id="arrange">
                    <option value="">Sắp xếp</option>
                    <option value="">A -> Z</option>
                    <option value="">Z -> A</option>
                    <option value="">Giá tăng dần</option>
                    <option value="">Giá giảm dần</option>
                    <option value="">Hàng mới nhất</option>
                    <option value="">Hàng cũ nhất</option>
                </select>
            </div>
            <div class="container-products row">
                <div class="product-item col-xl-3 col-lg-4 sol-sm-4 col-6">
                    <div class="product-image">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5856a35a-fed0-476a-9b97-491356dc5c95/ZM+SUPERFLY+10+ELITE+F+FG.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h6>Nike Air Zoom Mercurial Vapor 16 Pro TF</h6>
                        <p class="description-product">Pink Foam/Black</p>
                        <p class="price">2,150,000</p>
                    </div>
                </div>
                <div class="product-item col-xl-3 col-lg-4 sol-sm-4 col-6">
                    <div class="product-image">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5856a35a-fed0-476a-9b97-491356dc5c95/ZM+SUPERFLY+10+ELITE+F+FG.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h6>Nike Air Zoom Mercurial Vapor 16 Pro TF</h6>
                        <p class="description-product">Pink Foam/Black</p>
                        <p class="price">2,150,000</p>
                    </div>
                </div>
                <div class="product-item col-xl-3 col-lg-4 sol-sm-4 col-6">
                    <div class="product-image">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5856a35a-fed0-476a-9b97-491356dc5c95/ZM+SUPERFLY+10+ELITE+F+FG.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h6>Nike Air Zoom Mercurial Vapor 16 Pro TF</h6>
                        <p class="description-product">Pink Foam/Black</p>
                        <p class="price">2,150,000</p>
                    </div>
                </div>
                <div class="product-item col-xl-3 col-lg-4 sol-sm-4 col-6">
                    <div class="product-image">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5856a35a-fed0-476a-9b97-491356dc5c95/ZM+SUPERFLY+10+ELITE+F+FG.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h6>Nike Air Zoom Mercurial Vapor 16 Pro TF</h6>
                        <p class="description-product">Pink Foam/Black</p>
                        <p class="price">2,150,000</p>
                    </div>
                </div>
            </div>
            <div class="number-list">
                <ul>
                    <li><<</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>>></li>
                </ul>
            </div>
        </div>
    </div>
</div>

