
@{
    ViewBag.Title = "CagtegoryPage";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<link rel="stylesheet" href="~/Content/Category_page/container_category.css" />

<div class="container-content">
    <div class="slide">
        <img src="https://bizweb.dktcdn.net/100/108/842/collections/giay-bong-da-dinh-thap-tf.jpg?v=1499702390127" alt="" />
    </div>
    <div class="link-option">
        <span>Giày bóng đá sân cỏ nhân tạo</span>
        <hr />
    </div>
    <div class="header-content">
        <h3>Có ... sản phẩm</h3>
        <div class="filter">
            <span class="filter-btn">Filter <i class="fa-solid fa-sliders"></i></span>
        </div>
        <div class="dropdown">
            <div class="dropdown-header">
                <span>Sort By <i style="margin: 6px 0 0 2px;" class="fa-solid fa-angle-down"></i></span>
            </div>
            <ul class="dropdown-menu">
                <li>Mới nhất</li>
                <li>Cũ nhất</li>
                <li>Giá: Cao - Thấp</li>
                <li>Giá: Thấp - Cao</li>
            </ul>
        </div>
    </div>
    <div class="content row">
        <div class="content-left col-md-2">
            <div class="side-bar">
                <div class="product-size border-bot">
                    <div onclick="toggleSection('size-section')" class="container-toggle">
                        <h4>Kích thước</h4>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <ul id="size-section" class="section-content">
                        <li class="style-everyList"><input type="checkbox" />35</li>
                        <li class="style-everyList"><input type="checkbox" />36</li>
                        <li class="style-everyList"><input type="checkbox" />37</li>
                        <li class="style-everyList"><input type="checkbox" />38</li>
                        <li class="style-everyList"><input type="checkbox" />39</li>
                        <li class="style-everyList"><input type="checkbox" />40</li>
                        <li class="style-everyList"><input type="checkbox" />41</li>
                        <li class="style-everyList"><input type="checkbox" />42</li>
                        <li class="style-everyList"><input type="checkbox" />43</li>
                        <li class="style-everyList"><input type="checkbox" />44</li>
                    </ul>
                </div>

                <!-- Chủng loại -->
                <div class="product-type border-bot">
                    <div onclick="toggleSection('type-section')" class="container-toggle">
                        <h4>Chủng loại</h4>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <ul id="type-section" class="section-content">
                        <li class="style-everyList dis-block"><input type="checkbox" />ĐINH TF</li>
                        <li class="style-everyList dis-block"><input type="checkbox" />ĐINH FG</li>
                    </ul>
                </div>

                <!-- Thương hiệu -->
                <div class="product-brands border-bot">
                    <div onclick="toggleSection('brands-section')" class="container-toggle">
                        <h4>Thương hiệu</h4>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <ul id="brands-section" class="section-content">
                        <li class="style-everyList dis-block"><input type="checkbox" />NIKE</li>
                        <li class="style-everyList dis-block"><input type="checkbox" />ADIDAS</li>
                        <li class="style-everyList dis-block"><input type="checkbox" />PUMA</li>
                        <li class="style-everyList dis-block"><input type="checkbox" />MIZUNO</li>
                    </ul>
                </div>

                <!-- Mức giá -->
                <div class="product-price border-bot">
                    <div onclick="toggleSection('price-section')" class="container-toggle">
                        <h4>Giá</h4>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <ul id="price-section" class="section-content">
                        <li class="style-everyList dis-block"><input type="checkbox" />Trên 500K</li>
                        <li class="style-everyList dis-block"><input type="checkbox" />500k - 1tr</li>
                        <li class="style-everyList dis-block"><input type="checkbox" />1tr - 2tr</li>
                        <li class="style-everyList dis-block"><input type="checkbox" />Trên 2tr</li>
                    </ul>
                </div>

                <!-- Màu sắc -->
                <div class="product-color">
                    <div onclick="toggleSection('color-section')" class="container-toggle">
                        <h4>Màu sắc</h4>
                        <i class="fa-solid fa-angle-down"></i>
                    </div>
                    <ul id="color-section" class="section-content">
                        <li style="background-color: red;"></li>
                        <li style="background-color: white;"></li>
                        <li style="background-color: yellow;"></li>
                        <li style="background-color: blue;"></li>
                        <li style="background-color: green;"></li>
                        <li style="background-color: gray;"></li>
                        <li style="background-color: orangered;"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content-right col-md-10">
            <div class="container-products row">
                <div class="product-item col-xl-3 col-lg-4 sol-sm-4 col-6">
                    <div class="product-image">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5856a35a-fed0-476a-9b97-491356dc5c95/ZM+SUPERFLY+10+ELITE+F+FG.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h6>Nike Air Zoom Mercurial Vapor 16 Pro TF</h6>
                        <p class="description-product">Pink Foam/Black</p>
                        <p class="price">2,150,000</p>
                    </div>
                </div>
                <div class="product-item col-xl-3 col-lg-4 sol-sm-4 col-6">
                    <div class="product-image">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5856a35a-fed0-476a-9b97-491356dc5c95/ZM+SUPERFLY+10+ELITE+F+FG.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h6>Nike Air Zoom Mercurial Vapor 16 Pro TF</h6>
                        <p class="description-product">Pink Foam/Black</p>
                        <p class="price">2,150,000</p>
                    </div>
                </div>
                <div class="product-item col-xl-3 col-lg-4 sol-sm-4 col-6">
                    <div class="product-image">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5856a35a-fed0-476a-9b97-491356dc5c95/ZM+SUPERFLY+10+ELITE+F+FG.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h6>Nike Air Zoom Mercurial Vapor 16 Pro TF</h6>
                        <p class="description-product">Pink Foam/Black</p>
                        <p class="price">2,150,000</p>
                    </div>
                </div>
                <div class="product-item col-xl-3 col-lg-4 sol-sm-4 col-6">
                    <div class="product-image">
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/5856a35a-fed0-476a-9b97-491356dc5c95/ZM+SUPERFLY+10+ELITE+F+FG.png" alt="" />
                    </div>
                    <div class="product-content">
                        <h6>Nike Air Zoom Mercurial Vapor 16 Pro TF</h6>
                        <p class="description-product">Pink Foam/Black</p>
                        <p class="price">2,150,000</p>
                    </div>
                </div>
            </div>
            <div class="number-list">
                <ul>
                    <li><<</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>>></li>
                </ul>
            </div>
        </div>
    </div>
</div>

