.voucher-container {
    background-color: rgb(112, 112, 112);
    padding: 3% 10% 2% 10%;
    text-align: center;
}

input[type="email"] {
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 6px;
    position: relative;
    outline: none;
}

.footer .voucher-container .submit {
    background-color: #ff9800;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    position: absolute;
    margin-left: 6px;
}

.voucher-container .first-text h3 {
    margin-top: 6px;
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
}

.voucher-container .last-text span {
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}

.voucher-container .last-text p {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--my-color);
}

.contact-footer {
    padding: 2% 8%;
    background-color: rgb(70, 69, 69);
    color: #fff;
    text-align: center;
}

    .contact-footer h3 {
        font-weight: 200;
        margin-top: 20px;
   
    }

    .contact-footer .socials-list {
        font-size: 1.6rem;
    }

        .contact-footer .socials-list img {
            width: 30px;
            height: auto;
            margin-top: 10px;
        }

        .contact-footer .socials-list > a {
            text-decoration: none;
        }

    .contact-footer img {
        width: 150px;
        height: auto;
        border-radius: 8px;
        margin-top: 10px;
    }

    .contact-footer .info li {
        list-style-type: none;
        margin-top: 20px;
        font-weight: 200;
        opacity: 0.6;
    }

        .contact-footer .info li:first-child {
            margin-top: 10px;
        }

    .contact-footer .info a {
        text-decoration: none;
        color: #fff;
    }

        .contact-footer .info a:hover {
            color: #ff9800;
        }

    .contact-footer .map img {
        width: 90%;
        margin-top: 10px;
    }

    .contact-footer .contact-address i {
        margin-right: 4px;
    }

    .contact-footer .contact-address p {
        margin-top: 10px;
        opacity: 0.6;
        font-weight: 200;
    }
