* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 20px;
}

body {
    width: 100%;
    height: auto;
    overflow-x: hidden;
}

:root {
    --my-color: rgb(245, 174, 44);
}

hr {
    margin: 0;
}
