
.container-regis {
    height: 600px;
    padding-top: 70px;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

    .form-container p{
        margin: 0;
        font-size: 0.8rem;
    }

    .form-container input {
        display: block;
        margin-bottom: 14px;
        font-size: 0.8rem;
    }

        .form-container input[type="text"] {
            border-radius: 6px;
            padding: 4px 0 4px 8px;
            border: 1px solid #ccc;
            box-shadow: none;
            outline: none;
            width: 400px;
        }

            .form-container input[type="text"]:focus {
                border: 1px solid var(--my-color);
            }

    .form-container button {
        padding: 10px 20px;
        background-color: var(--my-color);
        border: none;
        font-weight: 600;
        font-size: 0.7rem;
        border: 2px solid var(--my-color);
        margin-top: 10px;
    }

    .form-container button:hover {
        background-color: #292929;
        color: white;
    }