@model LapTrinhWebBanHang.Models.Product

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/ViewSearch/Search.css" />
<div class="container">
    <div class="row" id="search-results"></div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        const keyword = urlParams.get('keyword');

        if (keyword) {
            fetch(`/Search/SearchProductsJson?keyword=${encodeURIComponent(keyword)}`)
                .then(response => response.json())
                .then(data => {
                    const searchResultsList = document.getElementById('search-results');
                    searchResultsList.innerHTML = '';

                    if (data.success && data.data.length > 0) {
                        const results = data.data;

                        results.forEach(product => {
                            const productItem = document.createElement('div');
                            productItem.classList.add('product-item', 'col-xl-3', 'col-lg-4', 'col-sm-6', 'col-12');
                            productItem.innerHTML = `
                            <a href="/ProductPage/ProductPage/${product.ProductID}" style="color: black; text-decoration: none;">
                                <div class="product-image">
                                    <img src="/Image/product-image/${product.ImageURL}" alt="${product.ProductName}" />
                                </div>
                                <div class="product-content">
                                    <h6>${product.ProductName}</h6>
                                    <p class="description-product">${product.Description}</p>
                                    <p class="price">${product.Price.toLocaleString()} VND</p>
                                </div>
                            </a>
                        `;
                            searchResultsList.appendChild(productItem);
                        });
                    } else {
                        // Hiển thị thông báo không có sản phẩm
                        searchResultsList.innerHTML = '<p>Không có sản phẩm nào được tìm thấy.</p>';
                    }
                })
                .catch(error => console.log('Error:', error));
        }
    });

</script>
