@{
    ViewBag.Title = "Xác nhận đơn hàng";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>Đơn hàng của bạn đã được hoàn tất!</h2>
<p>Cảm ơn bạn đã mua hàng tại cửa hàng của chúng tôi. Đơn hàng sẽ được xử lý trong thời gian sớm nhất.</p>
<a href="@Url.Action("Home_page", "HomePage")" class="btn btn-primary">Quay lại trang sản phẩm</a>
