@{
    ViewBag.Title = "Sign_in";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<h2>Thanh toán thành công!</h2>

<p>Cảm ơn bạn đã mua hàng từ cửa hàng của chúng tôi. Đơn hàng của bạn đã được xác nhận.</p>

<p>Vui lòng kiểm tra email của bạn để biết thêm thông tin về đơn hàng.</p>

<a href="@Url.Action("Home_page", "HomePage")" class="btn btn-primary">Quay lại trang chủ</a>
