
@{
    ViewBag.Title = "Home_page";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}
<link rel="stylesheet" href="~/Content/Home_page/introduce_homePage.css" />
<link rel="stylesheet" href="~/Content/Home_page/container_homePage.css">
<!-- INTRO -->
<div class="introduce">
    <div class="slide">
        <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Image/thumbnail/PhongThayDoMU.jpg"
                         class="d-block w-100"
                         alt="Slide 1" />
                </div>
                <div class="carousel-item">
                    <img src="~/Image/thumbnail/thumb3.jpg"
                         class="d-block w-100"
                         alt="Slide 2" />
                </div>
                <div class="carousel-item">
                    <img src="~/Image/thumbnail/thumb4jpg.jpg"
                         class="d-block w-100"
                         alt="Slide 3" />
                </div>
            </div>
            <button class="carousel-control-prev"
                    type="button"
                    data-bs-target="#carouselExample"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next"
                    type="button"
                    data-bs-target="#carouselExample"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExample" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
        </div>
    </div>
    <div class="commit">
        <div class="row">
            <div class="col-sm-1 col-md-4">
                <div class="credit">
                    <i class="fa-duotone fa-solid fa-credit-card commit-icon"></i>
                    <div class="description commit-size">
                        <h3>CAM KẾT CHÍNH HÃNG</h3>
                        <h5>100% Authentic</h5>
                        <p>Cam kết sản phẩm chính hãng</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-4">
                <div class="delivery commit-size">
                    <i class="fa-duotone fa-solid fa-truck commit-icon"></i>
                    <div class="description">
                        <h3>GIAO HÀNG HỎA TỐC</h3>
                        <h5>Express delivery</h5>
                        <p>SHIP hỏa tốc 1h nhận hàng trong nội thành HCM</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-1 col-md-4">
                <div class="hotline">
                    <i class="fa-duotone fa-solid fa-phone-volume commit-icon"></i>
                    <div class="description">
                        <h3>HỖ TRỢ 24/24</h3>
                        <h5>Supporting 24/24</h5>
                        <p>Gọi ngay</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- CONTENT -->
<div class="container">

    <!-- NEW PRODUCTS -->
    <div class="new-products">
        <h2>- Sản phẩm mới</h2>
        <div class="new-products-list row">
            <!--  product-item -->
            <div class="product-item col-lg-3 sol-sm-4 col-6">
                <div class="product-image">
                    <span class="new-tag tag">New</span>
                    <img src="~/Image/product-image/new_product/ZM SUPERFLY 10 ELITE FG.png" alt="" />
                </div>
                <div class="product-content">
                    <h6>Nike Mercurial Superfly 10 Elite Blueprint FG</h6>
                    <p class="description-product">Pink Foam/Black</p>
                    <p class="price">2,150,000</p>
                </div>
            </div>
        </div>
        <div class="number-list">
            <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>></li>
                <li>>></li>
            </ul>
        </div>
    </div>

    <!-- HOT PRODUCTS -->
    <div class="hot-products">
        <h2>- Sản phẩm HOT</h2>
        <div class="hot-products-list row">
            <!--  product-item -->
            <div class="product-item col-lg-3 sol-sm-4 col-6">
                <div class="product-image">
                    <span class="hot-tag tag">HOT</span>
                    <img src="~/Image/product-image/hot_product/ZM SUPERFLY 10 ELITE FG.png" alt="" />
                </div>
                <div class="product-content">
                    <h6>Nike Mercurial Superfly 10 Elite Blueprint FG</h6>
                    <p class="description-product">Pink Foam/Black</p>
                    <p class="price">2,150,000</p>
                </div>
            </div>
        </div>
    </div>

    <!-- SALE PRODUCTS -->
    <div class="sale-products">
        <h2>- Sản phẩm khuyến mãi</h2>
        <div class="sale-products-list row">
            <!--  product-item -->
            <div class="product-item col-lg-3 sol-sm-4 col-6">
                <div class="product-image">
                    <img src="~/Image/product-image/sale_product/Adidas X SpeedFlow 1 FG Meterorite.jpg" alt="" />
                </div>
                <div class="product-content">
                    <h6>Nike Mercurial Superfly 10 Elite Blueprint FG</h6>
                    <p class="description-product">Pink Foam/Black</p>
                    <div class="price-container">
                        <p class="price sale-price">2,150,000đ</p>
                        <p class="old-price">2,500,000đ</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  jersey -->
    <div class="jersey">
        <h2>- Áo đấu</h2>
        <div class="jersey-list row">
            <!--  product-item -->
            <div class="product-item col-lg-3 sol-sm-4 col-6">
                <div class="product-image">
                    <img src="https://footdealer.co/wp-content/uploads/2024/07/Maillot-Manchester-United-Domicile-2024-2025-Femme.jpg" alt="" />
                </div>
                <div class="product-content">
                    <h6>Nike Air Zoom Mercurial Vapor 16 Pro TF</h6>
                    <p class="price">2,150,000</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Brands -->
    <div class="brands">
        <h2>- Thương hiệu </h2>
        <div class="brands-list row">
            <!--  Brands-item -->
            <div class="product-item col-md-4 col-6">
                <div class="product-image">
                    <img src="https://theme.hstatic.net/1000061481/1001035882/14/brand_banner_1.jpg?v=1995" alt="" />
                </div>
                <div class="product-content">
                    <h6>GIÀY BÓNG ĐÁ NIKE</h6>
                </div>
            </div>
            <!--  Brands-item -->
            <div class="product-item col-md-4 col-6">
                <div class="product-image">
                    <img src="https://theme.hstatic.net/1000061481/1001035882/14/brand_banner_2.jpg?v=1995" alt="" />
                </div>
                <div class="product-content">
                    <h6>GIÀY BÓNG ĐÁ ADIDAS</h6>
                </div>
            </div>
            <!--  Brands-item -->
            <div class="product-item col-md-4 col-6">
                <div class="product-image">
                    <img src="https://theme.hstatic.net/1000061481/1001035882/14/brand_banner_3.jpg?v=1995" alt="" />
                </div>
                <div class="product-content">
                    <h6>GIÀY BÓNG ĐÁ PUMA</h6>
                </div>
            </div>
            <!--  Brands-item -->
            <div class="product-item col-md-4 col-6">
                <div class="product-image">
                    <img src="https://theme.hstatic.net/1000061481/1001035882/14/brand_banner_4.jpg?v=1995" alt="" />
                </div>
                <div class="product-content">
                    <h6>GIÀY BÓNG ĐÁ MIZUNO</h6>
                </div>
            </div>
        </div>
    </div>

    <!--  Instruct -->
    <div style="margin-bottom: 20px;" class="instruct" id="instruct">
        <h2>- Hướng dẫn chọn size</h2>
        <div class="instruct-list row">
            <!--  Instruct-item -->
            <div class="product-item col-md-4 col-12">
                <div class="product-image">
                    <img src="https://tuan6582.github.io/kingshoes.-test.github.io/assets/img/instruct/instruct%202.jpg" alt="" />
                </div>
                <div class="product-content">
                    <h6 style="opacity: 0.6;">CHỌN SIZE GIÀY NIKE,ADIDAS</h6>
                </div>
            </div>
            <!--  Instruct-item -->
            <div class="product-item col-md-4 col-12">
                <div class="product-image">
                    <img src="https://tuan6582.github.io/kingshoes.-test.github.io/assets/img/instruct/instruct%203.jpg" alt="" />
                </div>
                <div class="product-content">
                    <h6 style="opacity: 0.6;">CÁCH ĐO CỠ CHÂN VÀ XÁC ĐỊNH SIZE VIỆT NAM, US, UK CHUẨN</h6>
                </div>
            </div>
            <!--  Instruct-item -->
            <div class="product-item col-md-4 col-12">
                <div class="product-image">
                    <img src="https://tuan6582.github.io/kingshoes.-test.github.io/assets/img/instruct/instruct%204.jpg" alt="" />
                </div>
                <div class="product-content">
                    <h6 style="opacity: 0.6;">HƯỚNG DẪN CÁCH VỆ SINH GIÀY</h6>
                </div>
            </div>
        </div>
    </div>
</div>



