.container
{
    padding: 50px 0;
}

h3 {
    font-size: 1.2rem;
    text-align: center;
    font-weight: bold;
}

.order-detail, .product-detail {
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
    background-color: white;
    min-height: 300px;
    padding: 20px 10px;
    border: 1px solid gray;
    margin-bottom: 20px;
}

.product-detail {
    margin-left: 6%;
}

.table thead th {
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
}

.table tbody tr {
    font-size: 0.8rem;
    color: #333;
}

.status-chua-thanh-toan {
    color: #FFA500; /* Màu vàng */
}

.status-da-thanh-toan {
    color: #28a745; /* Màu xanh lá */
}

.status-da-gui-hang {
    color: #007bff; /* Màu xanh dương */
}

.status-bi-huy {
    color: #dc3545; /* Màu đỏ */
}

.status-khong-xac-dinh {
    color: #6c757d; /* Màu xám cho trạng thái không xác định */
}

