* {
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
    cursor: pointer;
}


a {
    text-decoration: none;
    color: black;
}

.fa-angle-down {
    font-size: 0.8rem;
    opacity: 0.8;
}

.link-option span {
    margin-left: 10%;
    font-size: 12px;
    font-weight: 600;
    color: var(--my-color);
}

.slide img {
    width: 100%;
    margin-top: 60px;
}

.side-bar {
    padding: 30px;
}

.content-left {
    height: 600px;
    overflow-y: auto;
}

    .content-left h4{
        font-size: 1rem;
    }

.style-everyList {
    display: flex;
    font-size: 0.8rem;
}
    .style-everyList input{
        width: 15px;
        margin-right: 4px;
        opacity: 0.2;
    }


.content-right .arrange {
    opacity: 0.6;
    margin-left: 10px;
}

    .content-right .container-products {
        padding: 20px;
    }

    .content-right .product-image {
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        border-radius: 10px;
    }

        .content-right .product-image img {
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
            width: 100%;
            cursor: pointer;
        }

            .content-right .product-image img:hover {
                transform: scale(1.1);
            }

.product-item .product-content {
    cursor: pointer;
}

    .product-item .product-content h6 {
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .product-item .product-content .description-product {
        font-size: 14px;
        opacity: 0.6;
    }

    .product-item .product-content p {
        margin: 0;
    }

    .product-item .product-content .price {
        font-size: 16px;
        font-weight: 600;
    }

.number-list {
    text-align: center;
}

    .number-list li {
        font-size: 18px;
        background-color: gray;
        display: inline-block;
        padding: 10px 14px;
        margin-top: 14px;
        margin-left: 12px;
        border-radius: 14px;
        cursor: pointer;
    }

        .number-list li:hover {
            background-color: var(--my-color);
        }


