* {
    margin: 0;
    padding: 0;
}


li {
    list-style: none;
    cursor: pointer;
}

.border-bot {
    border-bottom: 1px solid #ddd;
}

.dis-block{
    display: block !important;
}


a {
    text-decoration: none;
    color: black;
}

.header-content {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 10px;
    position: relative;
    background: white;
}

    .header-content .filter {
        margin-left: auto;
        font-size: 0.9rem;
        user-select: none;
        cursor: pointer;
    }

        .header-content h3{
            font-size: 1.2rem;
            margin-top: 10px;
            margin-left: 40px;
        }



    .fa-angle-down, .fa-angle-up {
        font-size: 0.8rem;
        opacity: 0.8;
        float: right;
        margin-top: 16px;
    }


.link-option span {
    margin-left: 10%;
    font-size: 12px;
    font-weight: 600;
    color: var(--my-color);
}

.slide img {
    width: 100%;
    margin-top: 60px;
}


.side-bar {
    padding: 10px 20px 0 40px;
    transform: translateX(0);
    transition: transform 0.3s ease; /* Hiệu ứng trượt */
}

    .side-bar.open {
        transform: translateX(-100%); /* Ẩn side bar sang bên trái */
    }

.collapsed {
    display: none; /* Ẩn khi sidebar đóng */
}

.content-left {
    height: 500px;
    overflow-y: auto;
    user-select: none;
}

.container-toggle{
    cursor: pointer;
}

    .content-left h4 {
        font-size: 1rem;
        margin: 10px 0 10px 10px;
        display: inline-block;
    }

    .content-left .side-bar ul {
        margin-left: 10px;
        padding: 0;
    }

.style-everyList {
    font-size: 0.8rem;
    display: inline-block;
    margin-right: 10px;
}
    .style-everyList input {
        transform: scale(1.3);
        margin-right: 4px;
        opacity: 0.2;
    }

        .style-everyList input:checked{
            opacity: 1;
        }

.product-color li {
    display: inline-block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border: 1px solid gray;
}

.content-right {
    width: 82%;
    flex: 1;
}

    .content-right .container-products {
        padding: 20px;
    }


    .content-right .product-image {
        overflow: hidden;
        transition: transform 0.3s ease-in-out;
        border-radius: 10px;
    }

        .content-right .product-image img {
            object-fit: cover;
            transition: transform 0.3s ease-in-out;
            width: 100%;
            cursor: pointer;
        }

            .content-right .product-image img:hover {
                transform: scale(1.1);
            }

.product-item .product-content {
    cursor: pointer;
}

    .product-item .product-content h6 {
        font-size: 14px;
        font-weight: 600;
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .product-item .product-content .description-product {
        font-size: 14px;
        opacity: 0.6;
    }

    .product-item .product-content p {
        margin: 0;
    }

    .product-item .product-content .price {
        font-size: 16px;
        font-weight: 600;
    }

.number-list {
    text-align: center;
}

    .number-list li {
        font-size: 18px;
        background-color: gray;
        display: inline-block;
        padding: 10px 14px;
        margin-top: 14px;
        margin-left: 12px;
        border-radius: 14px;
        cursor: pointer;
    }

        .number-list li:hover {
            background-color: var(--my-color);
        }


.section-content {
    display: none;
}

.show{
    display: block;
}

.btn{
    width: 100%;
}

.btnSideBar{
    float: right;
}

/* CSS cho dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 40px;
    user-select: none;
    color: black;
}

.dropdown-menu {
    display: none;
    position: absolute;
    right: 26%; /* Căn phải với thẻ cha */
    background-color: white;
    border: none;
    list-style-type: none;
    padding: 10px;
    margin: 0;
    border-radius: 4px;
    z-index: 1;
}

    .dropdown-menu li {
        padding: 8px 10px;
        cursor: pointer;
        font-size: 0.7rem;
    }

        .dropdown-menu li:hover {
            opacity: 0.6;
        }

/* Hiển thị menu khi thẻ dropdown có lớp .open */
.dropdown.open .dropdown-menu {
    display: block;
}






