.slide img {
    width: 100%;
}

.commit {
    text-align: center;
    background-color: rgb(199, 197, 197);
    margin: 0;
    padding: 20px 150px;
}

    .commit .commit-icon {
        font-size: 4rem;
        margin-bottom: 10px;
    }

    .commit h3 {
        font-size: 1.3rem;
        font-weight: 600;
        color: rgb(138, 98, 24);
        margin: 0;
    }

    .commit h5 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
    }

    .commit p {
        font-size: 0.8rem;
        margin: 0;
    }
