*{
    margin: 0;
    padding: 0;
}

body{
    height: auto;
}

.main {
    position: relative;
    padding-top: 150px;
    padding-bottom: 100px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.sign-in-container {
    background-color: #f7f7f7;
    display: flex;
    align-items: center;
    padding: 50px 50px;
    float: left;
    width: 46%;
    border: 1px solid #eaeaea;
}

#user{
    display: block;
}

#password{
    display: block;
}

.container-btn{
    margin-top: 10px;
}

.support{
    text-decoration: none;
    color: black;
    font-size: 14px;
    margin-top: 10px;
}

.obligatory-text{
    color: red;
    margin-top: 10px;
    margin-bottom: 0;
}

.support:hover {
    color: var(--my-color);
}

    .btn-sign-in {
        padding: 10px 20px;
        background-color: var(--my-color);
        border: none;
        font-weight: 600;
    }

        .btn-sign-in:hover {
            background-color: #292929;
            color: white;
        }

input[type="email"] {
    border-radius: 6px;
    padding: 4px 100px 4px 8px;
    border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
}

    input[type="email"]:focus {
        border: 1px solid var(--my-color);
    }

input[type="password"] {
    border-radius: 6px;
    padding: 4px 100px 4px 8px;
    border: 1px solid #ccc;
    box-shadow: none;
    outline: none;
    background-color: #f7f7f7;
}

        input[type="password"]:focus {
            border: 1px solid var(--my-color);
        }

.sign-up-container{
    float: right;
    width: 46%;
}
