@{
    Layout = null;  // Không sử dụng layout nếu bạn muốn
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test Connection</title>
</head>
<body>
    <div>
        <h2>Test Connection to SQL Server:</h2>
        <h3>@ViewBag.Message</h3>

        @if (ViewBag.TableNames != null && ((List<string>)ViewBag.TableNames).Count > 0)
        {
            <h3>Các bảng có trong Database:</h3>
            <ul>
                @foreach (var tableName in ViewBag.TableNames)
                {
                    <h2>Bảng: @tableName</h2>


                    if (ViewBag.Columns != null && ViewBag.Columns is Dictionary<string, List<string>> && ViewBag.Columns.ContainsKey(tableName))
                    {
                        <ul>
                            @foreach (var columnName in ViewBag.Columns[tableName])
                            {
                                <li>@columnName</li>
                            }
                        </ul>
                    }
                    else
                    {
                        <p>Không có cột nào ở đây</p>
                    }
                }
            </ul>
        }
        else
        {
            <p>Không tìm được bảng nào ở database</p>
        }
    </div>
</body>
</html>
